@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Caden Marquis</h1>
    <h3>Mission 3</h3>
    <br />
    <p>In IS 413, I want to learn the basics of application development so I can work on fun side projects and be more familiar with development for my future career(s)!</p>
</div>
<br />
<br />
<div>
    <img class="img" id="surfPic" src="img/surfPic.jpg" height="400" />
</div>

<br />
<br />

<div class="text-center">
    <p> Job Interests:</p>

    <ul style="list-style: none;">
        <li>Product Management</li>
        <li>Data Science</li>
        <li>Blockchain Development</li>
        <li>Or all of the above in a start-up</li>
    </ul>
</div>




